[submodule "thirdParty/googletest"]
	path = thirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdParty/connect4"]
	path = thirdParty/connect4
	url = https://github.com/MarkusThill/connect4.git
[submodule "thirdParty/pybind11"]
	path = thirdParty/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
